<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}ProdejKnihu.cz{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="/static/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="/static/static/bootstrap/js/jquery.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39461955-3', 'prodejknihu.cz');
      ga('send', 'pageview');

    </script>
    {%block head%}{%endblock head%}
  </head>
  <body>
      {% block base_content %}{% endblock %}
    <script src="/static/static/bootstrap/js/prettify.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-button.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-affix.js"></script>
    <script src="/static/static/bootstrap/js/application.js"></script>
  </body>
</html>
