<h2>O portálu</h2>
<p>Tento portál je výhradně zaměřen na prodej použitých a nepotřebných učebnic, knih a časopisů</p>
<h3>Naše zásady</h3>
<ul>
    <li>Nemažeme vaše inzeráty</li>
    <li>Neomezujeme počet inzerátu</li>
    <li>Nevadí nám podpora prodeje na jiných servrech (Aukro, Bazos)</li>
</ul>
