{% extends "prodejknihu/base.html" %}
{% block content %}
<h2>Kategorie přidána</h2>
<p>Kazegorie byla úspěšne přidána. Knihu můžete přidat <a href="{% url "prodejknihu.add_book" %}">zde</a></p>
{% endblock content %}