{% extends "prodejknihu/base.html" %}
{% block content %}
<h2>Přidat kategorii</h2>
<p>Nejdříve zkontrolujte zda nemůžete knihu zařadit do již existující kategorie.</p>
<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="uložit">
</form>
{% endblock content %}