{% extends "prodejknihu/base.html" %}
{% block content %}
<h2>API</h2>
<h3>json api</h3>
<div class="row">
<div class="span5">
<pre>
[
    {
        "name": "Přehled obvodů řady CMOS 1.díl",
        "author": "Petr Jedlička",
        "isbn": "-",
        "publisher": "BEN Technická literatura",
        "release_year": "1994",
        "vendor": {
            "name": "Ondřej Šika",
            "email": "sika.ondrej@gmail.com",
            "phone": "773452376"
        },
        "price": "130",
        "postage": "40"
    }
]
</pre>
</div>
<div class="span7">
<p>K API můžete přistupovat pomocí url: <a href="{% url "prodejknihu.api.json" %}"><b>prodejknihu.cz{% url "prodejknihu.api.json" %}</b></a> vrací seznam objektů knih.
</p>
<p>Pokud nezadáte parametr <b>?s=</b>, API vrátí všechny položky v databázi.</p>
<p>Pokud zavoláte url <b>prodejknihu.cz{% url "prodejknihu.api.json" %}?s=CMOS</b>, API bude hledat v databázi Vaše klíčové slovo a vrátí jen položky které ho obsahují.
</p>
</div>
</div>
{% endblock content %}
