{% extends "base.html" %}
{% block head %}
<link rel="shortcut icon" href="/static/static/prodejknihu/prodejknihu32.png" type="image/png">
{% endblock head %}
{% block base_content %}
<div class="navbar navbar-static">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"><img src="/static/static/prodejknihu/prodejknihu128transparent.png" style="width:20px;heiht:20px;margin-bottom: 5px;">&nbsp;ProdejKnihu.cz</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{% url "prodejknihu.home" %}">Home</a></li>
                <li><a href="{% url "prodejknihu.book_list" %}">Seznam knih</a></li>
                <li><a href="{% url "prodejknihu.add_book" %}">Přidat knihu</a></li>
                <li><a href="{% url "prodejknihu.add_category" %}">Přidat kategorii</a></li>
                <li><a href="{% url "prodejknihu.vendor.list" %}">Prodejci</a></li>
                <li><a href="{% url "prodejknihu.api" %}">API</a></li>
            </ul>
            <ul class="nav pull-right">
                {% if request.user.vendor %}
                    <li id="fat-menu" class="dropdown">
                      <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">{{request.user.vendor}} <b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                        <li><a href="{% url "prodejknihu.settings.main" %}">Základní nastavení</a></li>
                        <li><a href="{% url "prodejknihu.settings.password" %}">Změna hesla</a></li>
                        <li><a href="{% url "prodejknihu.settings.about_me" %}">Nastavení o mně</a></li>
                        <li class="divider">
                        <li><a href="{% url "prodejknihu.logout" %}">odhlásit se</a></li>
                      </ul>
                    </li>
                    {%else%}
                    <li><a href="{% url "prodejknihu.login" %}">Přihlásit se</a></li>
                <li><a href="{% url "prodejknihu.register" %}">Registrovat se</a></li>

                        {%endif%}
                  </ul>
          </div><!--/.nav-collapse -->
        </div>
    </div>
  </div>
<div class="container">
{% block content %}
<h2>Kategorie</h2>
<ul>
{% for category in category_list %}
<li>{{category.name}}</li>
{% endfor %}
</ul>
{% endblock content %}
<hr>
<p>2012 - {% now "Y" %} &copy; Vytvořil <a href="http://ondrejsika.com">Ondřej Šika</a></p>
</div>
{% endblock base_content %}