{% extends "prodejknihu/base.html" %}
{% block title %}{{book.get_html_title}} - ProdejKnihu.cz{% endblock title %}
{% block content %}

<div class="row">
  <div class="span9">
    <h2>{{book.name}}</h2>
  </div>
</div>
<div class="row">
  <div class="span4">
    {% if book.img %}
    <img src="{{book.img.url}}">
    {% else %}
    <img src="/static/static/prodejknihu/640x480.gif">
    {% endif %}
  </div>
  <div class="span8">
    <div class="row" style="margin-bottom:10px;">
        <div class="span4">
            <p>Přidáno dne: {{book.created_at.date}}</p>
        </div>
        <div class="span4">
            <div style="float:right;">
  {% if book.vendor == request.user.vendor %}
    <a href="{% url "prodejknihu.edit_book" book.pk %}" class="btn">upravit</a>
    <a href="{% url "prodejknihu.delete_book" book.pk %}" class="btn btn-danger">smazat</a>
{% else %}
    <a href="mailto:{{book.vendor.email}}" class="btn">napsat email prodejci</a></p>
{%endif%}
</div>
    </div>
    </div>
    <div class="row">
  <div class="span4">
    <table class="table">
    <tr>
    <th>Autor</th>
    <td>{{book.author}}</td>
    </tr>
    <tr>
    <th>Nakladatelství</th>
    <td>{{book.publisher}}</td>
    </tr>
    <tr>
    <th>ISBN</th>
    <td>{{book.isbn}}</td>
    </tr>
    <th>Rok vydání</th>
    <td>{{book.release_year}}</td>
    </tr>
    </table>
    {% if book.description %}{{book.get_description|safe|linebreaksbr}}{% endif %}
  </div>
  <div class="span4">
    <table class="table">
    <tr>
    <th>Cena</th>
    <td>{{book.price}}Kč</td>
    </tr>
    <tr>
    <th>Poštovné</th>
    <td>{{book.postage}}Kč</td>
    </tr>
    <tr><td></td><td></td></tr>
    <tr>
    <th>Prodejce</th>
    <td><a href="{% url "prodejknihu.vendor_detail" book.vendor.pk %}">{{book.vendor}}</a></td>
    </tr>
    <tr>
    <th>Email</th>
    <td>{{book.vendor.email}}</td>
    </tr>
    <tr>
    <th>Telefon</th>
    <td>{{book.vendor.phone}}</td>
    </tr>
    </table>
    <h3>Sdílet</h3>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="ProdejKnihu" data-lang="en">Tweet</a>
    <br>
    <a name="fb_share" type="button_count" share_url="http://prodejknihu.cz/{{request.path}}" href="http://facebook.com/sharer.php" rel="nofollow">Share</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
<br>
<!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share"></div>

<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
  </div>
  </div></div>
</div>
{% endblock content %}
