{% extends "prodejknihu/base.html" %}
{% block content %}
<h2>Výsledky vyhledávání</h2>
<table  class="table">
<tr>
<th>Název</th>
<th>Autor</th>
<th>Cena</th>
<th>Poštovné</th>
<th>Vydavatel</th>
<th>Rok vydání</th>
<th>Prodejce</th>
</tr>
{% for book in book_list %}
<tr>
<td><a href="{% url "prodejknihu.book_detail" book.pk book.get_seo_url %}">{{book.name}}</a></td>
<td>{{book.author}}</td>
<td>{{book.price}}Kč</td>
<td>{{book.postage}}Kč</td>
<td>{{book.publisher}}</td>
<td>{{book.release_year}}</td>
<td><a href="{% url "prodejknihu.vendor_detail" book.vendor.pk %}">{{book.vendor}}</a></td>
</tr>
{% endfor %}
</table>
{% endblock content %}
