{% extends "prodejknihu/base.html" %}
{% block content %}
<h2>Opravdu smazat: {{book.name}}</h2>
<a href="{% url "prodejknihu.delete_book.process" book.pk %}" class="btn btn-large btn-danger">Smazat</a>
<a href="{% url "prodejknihu.book_detail" book.pk book.get_seo_url %}" class="btn btn-large">Zpět</a>
{% endblock content %}