{% extends "prodejknihu/base.html" %}
{% block content %}
<h2>Upravit knihu {{book.name}}</h2>
<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="uložit">
</form>
{% endblock content %}