{% extends "prodejknihu/base.html" %}
{% block content %}
<div class="row">
<div class="span4">
<h2>Vyhledat knihu</h2>
<form action="{% url 'prodejknihu.book_list' %}" method="get">
    <input name="s">
    <input type="submit" value="vyhledat">
</form>
<h2>Kategorie</h2>
<ul>
{% for category in category_list %}
<li><a href="{% url "prodejknihu.book_list" %}?s={{category.name}}">{{category.name}} ({{category.get_book_count}})</a></li>
{% endfor %}
</ul>
</div>
<div class="span8">
    {% include "prodejknihu/about_us.html" %}
    <h3>Statistiky</h3>
    <p>Celkem je evidováno <b>{{all_books.count}}</b> knih.
        <br>Celkem je registrováno <b>{{all_vendors.count}}</b> uživatelů.
    </p>
</div>
</div>
{% endblock content %}
