{% extends "prodejknihu/base.html" %}
{% block content %}
<div class="row">
    <div class="span4">
        <h2>Přihlásit se</h2>
        <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="přihlásit se">
        </form>
    </div>
</div>
{% endblock content %}
