{% extends "prodejknihu/base.html" %}
{% block content %}
<div class="row">
    <div class="span4">
        <h2>Odhlášeno</h2>
        <p>Byl jste úspěšne odhlášen</p>
    </div>
</div>
{% endblock content %}
