{% extends "prodejknihu/base.html" %}
{% block content %}
<div class="row">
    <div class="span4">
        <h2>Registrace proběhla úspěšně</h2>
        <a href="{% url "prodejknihu.login" %}">Přihlásit se</a>
    </div>
</div>
{% endblock content %}
