{% extends "prodejknihu/base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/static/bootstrap/css/bootstrap-wysihtml5.css"></link>
<style type="text/css">
textarea {
    width:800px;
    min-height: 300px;
}
</style>
<h2>Změna hesla</h2>
<form action="" method="post">
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="Uložit">
</form>
<script src="/static/static/bootstrap/js/wysihtml5-0.3.0.js"></script>
<script src="/static/static/bootstrap/js/bootstrap-wysihtml5.js"></script>
<script>
    $('textarea').wysihtml5();
</script>
<script type="text/javascript" src="http://jhollingworth.github.com/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js"></script>

{% endblock content %}