{% extends "prodejknihu/base.html" %}
{% block content %}
<h2>Základní nastavení</h2>
<form action="" method="post">
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="uložit">
</form>
{% endblock content %}