{% extends "prodejknihu/base.html" %}
{% block content %}
<h2>Prodejci</h2>
<table  class="table">
<tr>
<th>Uživateljské jméno</th>
<th>Jméno</th>
<th>Počet knih</th>
<th>Email</th>
<th>Telefon</th>
</tr>
{% for vendor in vendor_list %}
<tr>
<td><a href="{% url "prodejknihu.vendor_detail" vendor.pk %}">{{vendor.username}}</a></td>
<td>{{vendor.get_full_name}}</td>
<td>{{vendor.get_active_book_list.count}}</td>
<td>{{vendor.email}}</td>
<td>{{vendor.phone}}</td>
</tr>
{% endfor %}
</table>
{% endblock content %}
