{% extends "prodejknihu/base.html" %}
{% block content %}

<div class="row">
  <div class="span9">
    <h2>{{vendor.get_full_name}} ({{vendor.username}})</h2>
  </div>
</div>
<div class="row">
  <div class="span7">
    <h3>Knihy uživatele ({{vendor.get_active_book_list.count}})</h3>
    <table  class="table">
    <tr>
    <th>Název</th>
    <th>Autor</th>
    <th>Cena</th>
    <th>Poštovné</th>
    </tr>
    {% for book in vendor.get_active_book_list %}
    <tr>
    <td><a href="{% url "prodejknihu.book_detail" book.pk book.get_seo_url %}">{{book.name}}</a></td>
    <td>{{book.author}}</td>
    <td>{{book.price}}Kč</td>
    <td>{{book.postage}}Kč</td>
    </tr>
    {% endfor %}
    </table>
  </div>
  <div class="row">
  <div class="span5">
    <h3>Informace o uživateli</h3>
    <table class="table">
      <tr>
        <th>telefon</th>
        <td>{{vendor.phone}}</td>
      </tr>
      <tr>
        <th>email</th>
        <td>{{vendor.email}}</td>
      </tr>
      <tr>
        <th>adresa</th>
        <td>{{vendor.address|linebreaksbr}}</td>
      </tr>
      <tr>
        <th>o mně</th>
        <td>{{vendor.about_me|safe|linebreaksbr}}</td>
      </tr>
    </table>
  </div>
</div>
</div>
{% endblock content %}
